[Desktop Entry]
Name=Jellyflix
Comment=Jellyfin client
Exec=jellyflix
Icon=${SNAP}/meta/gui/app_icon.png
Terminal=false
Type=Application
Categories=Entertainment; # Adjust accordingly your snap category.